:host {
  width: 230px;
  height: calc(100vh - 70px);
  position: relative;
}

form {
  height: 100%;
}

.form-select {
  width: 210px;
  padding: 10px;
}

.form-field {
  padding-top: 10px;
  border-bottom: 1px solid #dddddd;
}

.btn {
  height: 40px;
  border: none;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.reset {
  border: 1px solid #4aa77b;
  background-color: white;
  color: #4aa77b;
  margin-right: 10px;
}

.submit {
  background-color: #4aa77b;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #dddddd;
}

.buttons {
  margin: 10px;
}

.toggleSearch {
  position: absolute;
  left: -10px;
  top: 264px;
  font-size: 20px;
  cursor: pointer;
}

.border-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #444444;
  box-shadow: 0 0px 5px 0 rgba(68, 46, 46, 0.2);
}