<div>
    <img class="logo" src="https://raw.githubusercontent.com/dikshakadri/infrrd-app/master/src/assets/Infrrd-Logo.png"
        alt="Infrrd logo">
</div>
<div class="menu">
    <ul>
        <li>
            <fa-icon [icon]="faEnvelope"></fa-icon>Overview
        </li>
        <li>
            <fa-icon [icon]="faEnvelope"></fa-icon>Messages
        </li>
        <li (click)="onSearch()">
            <fa-icon [icon]="faSearch"></fa-icon>Search
        </li>
        <li>
            <fa-icon [icon]="faEnvelope"></fa-icon>Filter
        </li>
        <li>
            <fa-icon [icon]="faEnvelope"></fa-icon>History
        </li>
        <li>
            <fa-icon [icon]="faUser"></fa-icon>My Account
        </li>
    </ul>
    <ul>
        <li>
            <fa-icon [icon]="faComment"></fa-icon>Get Help
        </li>
        <li>
            <fa-icon [icon]="faSignOutAlt"></fa-icon>Sign Out
        </li>
    </ul>
</div>