<div class="employees-container overflow-y-auto">
    <div class="emp-count">
        <div class="font-grey-3 pl-10">{{employees.length}} <span>results found</span></div>
        <div class="checkbox pr-10">
            <input type="checkbox" (click)="onCheck($event)" />
            <span>Show only Bangalore Employees</span>
        </div>
    </div>
    <div class="employees-card">
        <ng-container *ngFor="let emp of employees">
            <infrrd-employee-card [employee]="emp"></infrrd-employee-card>
        </ng-container>
    </div>
</div>