:host {
  flex: 1;
  background-color: #f8fcfa;
  box-shadow: 0 0px 5px 0 rgba(68, 46, 46, 0.2);
}

.employees-container {
  height: calc(100vh - 70px);
}

.employees-card {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
