/* You can add global styles to this file, and also import other style files */
/**
 * Remove the margin in all browsers.
 */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.font-grey {
  color: #cccccc;
}

.font-grey-1 {
  color: #999999;
}
.font-grey-2 {
  color: #666666;
}
.font-grey-3 {
  color: #333333;
}
.border-grey-1 {
  color: #efefef;
}

.flex-center {
  display: flex;
  align-items: center;
}

.p10 {
  padding: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.full-width {
  width: 100%;
}

.overflow-y-auto {
  overflow-y: auto;
  overflow-x: hidden;
}
