.employee-card {
  width: 290px;
  height: 320px;
  border: solid 1px #dddddd;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  font-size: 12px;
}

// :host ::ng-deep .star {
//   color:yellow;
//   padding: 1px;
//   font-size: 15px;
// }

.emp-info {
  height: 70px;
  margin: 10px;
}

.row-height {
  height: 45px;
}

.emp-work-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emp-name {
  flex: 1;
  padding: 0 10px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.border-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #666666;
  box-shadow: 0 0px 5px 0 rgba(68, 46, 46, 0.2);
}

.separator {
  position: relative;
  padding: 0 5px;
}

.separator::after {
  content: "";
  position: absolute;
  border-top: 1px solid #dddddd;
  width: 47px;
  top: -22px;
  transform: rotate(105deg);
  transform-origin: 0% 0%;
}

.email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
}

.phone-icon {
  color: #3562af;
}

.email-icon {
  color: #c4473c;
}

.rating {
  & ::ng-deep {
    &label.star {
      padding: 2px;
      font-size: 18px;
    }
  }
}