<div class="employee-card">
    <div class="emp-info flex-center">
        <img [src]="employee.image" alt="Avatar" class="avatar">
        <div class="emp-name">
            <span class="font-grey-3 fs-14">{{employee.name}}</span><br>
            <span class="font-grey-2 fs-14">{{employee.designation}}</span>
        </div>
        <div class="border-icon">
            <fa-icon [icon]="faPaperPlane"></fa-icon>
        </div>
    </div>
    <div class="rating row-height flex-center pl-10 pr-10 border-bottom">
        <span class="font-grey-1 pr-10">{{employee.rating}} Rating</span>
        <ngx-star-rating [(ngModel)]="employee.rating"  [id]="employee.employeeNo" [disabled]="true"></ngx-star-rating>
    </div>
    <div class="row-height emp-work-info pl-10 pr-10 border-bottom">
        <div><span class="font-grey-1">Experience: </span> <span class="font-grey-3">{{employee.exp}}</span></div>
        <div class="separator"></div>
        <div><span class="font-grey-1">Date of Joining: </span> <span class="font-grey-3">{{employee.doj}}</span></div>
    </div>
    <div class="row-height flex-center pl-10 pr-10 border-bottom">
        <span class="font-grey-1">Current Team: </span><span class="font-grey-3">{{employee.currentTeam}}</span>
    </div>
    <div class="row-height flex-center pl-10 pr-10 border-bottom">
        <span class="font-grey-1">Reporting Manager: </span><span class="font-grey-3">{{employee.reportingManager}}</span>
    </div>
    <div class="row-height flex-center pl-10 pr-10">
        <div class="border-icon phone-icon"><fa-icon [icon]="faPhoneAlt"></fa-icon></div><span class="font-grey-3 pl-5 pr-5">{{employee.phone}}</span>
        <div class="border-icon email-icon"><fa-icon [icon]="faEnvelope"></fa-icon></div><span class="email font-grey-3 pl-5 pr-5">{{employee.email}}</span>
    </div>
</div>